section.front-layout
    .front-inner
        .container.hide(data-aura-component="front-layout")
            .row
                .col-md-8.col-md-offset-1.col-xs-12
                    h1 Logical quiz
                    h2 Welcome to awesome logical quiz
                    p.lead
                        | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
                    p.lead
                        a#game-start.btn.btn-lg.btn-default(href='#') Get started