extends layout

block css
    link(rel='stylesheet', href='/styles/css/dist.#{version}.css')

block append js
    script(src='/bower_components/requirejs/require.js', data-main='/js/main.js')
block content
    .site-wrapper
        .site-wrapper-inner
            // "front-layout" component
            include front
            // END: "front-layout" component

            // "game-layout" component
            include game/layout
            // END: "game-layout" component
        // footer
        footer.mastfoot
            .inner
                p Here should be some footer content
        // END: footer

    // "load-state" component
    .load-state.hide(data-aura-component='load-state')
    // END: "load-state" component