doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        block css
            if env == 'production' || env == 'test'
                link(rel='stylesheet', href='/styles/css/dist.#{version}.min.css')
            else
                link(rel='stylesheet', href='/styles/css/dist.#{version}.css')
        block js
            if env == 'production' || env == 'test'
                script(src='/bower_components/requirejs/require.js')
                script(src='/js/build/dist.#{version}.js')
            else
                script(src='http://localhost:35729/livereload.js')
                script(src='/bower_components/requirejs/require.js', data-main='/js/main.js')
body
    .site-wrapper
        // "front-layout" component
        section.scene.front-layout(data-aura-component="front-scene")
        // END: "front-layout" component

        // "game-layout" component
        section.scene.game-scene.hide(data-aura-component='game-scene')
            #quiz-subjects.quiz-subjects
            #quiz-area.quiz-area
            #quiz-result.quiz-result
        // END: "game-layout" component

        // footer
        footer.mastfoot
            .inner
                p Here should be some footer content
        // END: footer

    // "load-state" component
    .load-state.hide(data-aura-component='load-state')
    // END: "load-state" component